<h1><%= @sub.title %></h1>
<h4>Description</h4>
<p><%= @sub.description %></p>
<h4>Posts</h4>
<% if user_signed_in? %>
  <% if @subscribed %>
    <%= button_to "unsubscribe", subscription_url(@subscription), method: :delete %>
  <% else %>
    <%= button_to "subscribe", sub_subscriptions_url(@sub.id), method: :post %>
  <% end %>
<% end %>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %><%= "(#{post.vote_score})" %></li>
  <% end %>
</ul>
<% if user_signed_in? %>
  <%= link_to "add post", new_sub_post_url(@sub.id) %>
  <br>
<% end %>
<% if current_user.owns?(@sub) %>
  <%= link_to "Edit", edit_sub_url(@sub) %>
  <%= link_to "Delete", sub_url(@sub), method: :delete %>
<% end %>
