<h1><%= @sub.title %></h1>
<h4>Description</h4>
<p><%= @sub.description %></p>
<h4>Posts</h4>
<ul>
  <% @sub.posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %></li>
  <% end %>
</ul>
<% if logged_in? %>
  <%= link_to "add post", new_sub_post_url(@sub.id) %>
  <br>
<% end %>
<% if @sub.is_owner?(current_user) %>
  <%= link_to "Edit", edit_sub_url(@sub) %>
  <%= link_to "Delete", sub_url(@sub), method: :delete %>
<% end %>
