<h1><%= @post.title %></h1>
<% if !@post.url.empty? %>
  <h3><%= link_to "url", @post.url %></h3>
<% end %>
<h3>by <%= link_to @post.author_name, user_url(@post.author) %></h3>
<h4><%= @post.video.title %></h4>
<p><%= @post.video.description %></p>
<% video_url = "https://www.youtube.com/embed/#{@post.video.id}" %>
<iframe
  width="560"
  height="315"
  src="<%= video_url %>"
  frameborder="0" allowfullscreen>
</iframe>
<h3>score: <%= @post.score %></h3>
<%= link_to "upvote", upvote_post_url(@post.id), method: :post %>
<%= link_to "downvote", downvote_post_url(@post.id), method: :post %>
<h3>subs</h3>
<ul>
  <% @post.subs.each do |sub| %>
    <li><%= link_to sub.title, sub_url(sub) %></li>
  <% end %>
</ul>
<h3>comments</h3>
<ul>
  <% top_level_comments = @comments_by_parent[nil] %>
  <% top_level_comments.sort_by { |comment| comment.score }.reverse!.each do |top_level_comment| %>
    <li><%= render("comments/comment",
            comment: top_level_comment,
            comments_by_parent: @comments_by_parent) %></li>
  <% end %>
</ul>
<% if current_user %>
  <%= link_to "add comment", new_post_comment_url(@post.id) %>
<% end %>
<p><%= @post.content %></p>
<% if @post.is_owner?(current_user) %>
  <%= link_to "Edit", edit_post_url(@post) %>
  <%= link_to "Delete", post_url(@post), method: :delete %>
<% end %>
