<h1><%= @post.title %></h1>
<% if @post.url %>
  <h3><%= link_to "url", @post.url %></h3>
<% end %>
<h3>by <%= link_to @post.author_name, user_url(@post.author) %></h3>
<h3>subs</h3>
<ul>
  <% @post.subs.each do |sub| %>
    <li><%= link_to sub.title, sub_url(sub) %></li>
  <% end %>
</ul>
<h3>comments</h3>
<ul>
  <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
    <li><%= comment.content %><%= link_to "comment url", comment_url(comment) %></li>
  <% end %>
</ul>
<% if current_user %>
  <%= link_to "add comment", new_post_comment_url(@post.id) %>
<% end %>
<p><%= @post.content %></p>
<% if @post.is_owner?(current_user) %>
  <%= link_to "Edit", edit_post_url(@post) %>
  <%= link_to "Delete", post_url(@post), method: :delete %>
<% end %>
